adf-teamsoft-JCD/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Nombre de instancia de Data Factory",
			"defaultValue": "adf-teamsoft-JCD"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/DS_S3_Movies')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_S3",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AmazonS3Location",
						"bucketName": "japerlov-test",
						"folderPath": "stg-data",
						"fileName": "moviesDB.csv"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "movie",
						"type": "String"
					},
					{
						"name": "title",
						"type": "String"
					},
					{
						"name": "genres",
						"type": "String"
					},
					{
						"name": "year",
						"type": "String"
					},
					{
						"name": "Rating",
						"type": "String"
					},
					{
						"name": "RottenTomato",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SQL_Integracion_TablaIngesta')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ASQL_Integracion",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Modulo 05"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "IdTabla",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Grupo",
						"type": "varchar"
					},
					{
						"name": "NombreEsquema",
						"type": "varchar"
					},
					{
						"name": "NombreTabla",
						"type": "varchar"
					},
					{
						"name": "Estado",
						"type": "bit"
					},
					{
						"name": "UsuarioCreacion",
						"type": "varchar"
					},
					{
						"name": "FechaCreacion",
						"type": "date"
					}
				],
				"typeProperties": {
					"schema": "intg",
					"table": "TablasIngesta"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_AW_ASQL_to_ADLS')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LK_ObtenerTablasIngesta",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "@concat('SELECT \n NombreEsquema, \n NombreTabla\nFROM intg.TablasIngesta\nWHERE Grupo = ''', pipeline().parameters.Grupo,\n''' AND Estado = 1')\n",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_SQL_Integracion_TablaIngesta",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "FE_CopiarTablas_Ingesta",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "LK_ObtenerTablasIngesta",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('LK_ObtenerTablasIngesta').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "CD_DATA_ASQL_to_ADLS",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "@concat('SELECT * FROM ', item().NombreEsquema, '.', item().NombreTabla)\n",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DS_ASQL_AdventureWorks_Data",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_ADLS_AW_Data",
											"type": "DatasetReference",
											"parameters": {
												"Ruta": {
													"value": "@concat(item().NombreEsquema, '\\', item().NombreTabla)\n",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"Grupo": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Modulo 05"
				},
				"annotations": [],
				"lastPublishTime": "2024-09-28T15:44:27Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_SQL_Integracion_TablaIngesta')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_DATA_CopiaArchivos')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CD_S3_Movies_to_ADLS",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AmazonS3ReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings",
									"copyBehavior": "FlattenHierarchy"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_S3_Movies",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_ADLS_Movies",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2024-09-19T00:53:30Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_S3_Movies')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DF_TRAN_UpdateCustomerDimension')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "Modulo 04"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "DS_ASQL_Tailspin_CustomerSource",
								"type": "DatasetReference"
							},
							"name": "SourceDB"
						},
						{
							"dataset": {
								"referenceName": "DS_ASQL_Tailspin_DimCustomer",
								"type": "DatasetReference"
							},
							"name": "DimCustomer"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "DS_ASQL_Tailspin_DimCustomer",
								"type": "DatasetReference"
							},
							"name": "SinkDimCustomer"
						}
					],
					"transformations": [
						{
							"name": "CreateCustomHash"
						},
						{
							"name": "ExistsHash"
						},
						{
							"name": "LookupCustomerID"
						},
						{
							"name": "SetDates"
						},
						{
							"name": "AllowUpsert"
						}
					],
					"scriptLines": [
						"source(output(",
						"          CustomerID as integer,",
						"          Title as string,",
						"          FirstName as string,",
						"          MiddleName as string,",
						"          LastName as string,",
						"          Suffix as string,",
						"          CompanyName as string,",
						"          SalesPerson as string,",
						"          EmailAddress as string,",
						"          Phone as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> SourceDB",
						"source(output(",
						"          CustomerID as integer,",
						"          Title as string,",
						"          FirstName as string,",
						"          MiddleName as string,",
						"          LastName as string,",
						"          Suffix as string,",
						"          CompanyName as string,",
						"          SalesPerson as string,",
						"          EmailAddress as string,",
						"          Phone as string,",
						"          InsertedDate as timestamp,",
						"          ModifiedDate as timestamp,",
						"          HashKey as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> DimCustomer",
						"SourceDB derive(HashKey = sha2(256, iifNull(Title,'') +FirstName \r",
						"+iifNull(MiddleName,'') +LastName \r",
						"+iifNull(Suffix,'') +iifNull(CompanyName,'') \r",
						"+iifNull(SalesPerson,'') \r",
						"+iifNull(EmailAddress,'') +iifNull(Phone,''))) ~> CreateCustomHash",
						"CreateCustomHash, DimCustomer exists(CreateCustomHash@HashKey == DimCustomer@HashKey,",
						"     negate:true,",
						"     broadcast: 'auto')~> ExistsHash",
						"ExistsHash, DimCustomer lookup(SourceDB@CustomerID == DimCustomer@CustomerID,",
						"     multiple: false,",
						"     pickup: 'any',",
						"     broadcast: 'auto')~> LookupCustomerID",
						"LookupCustomerID derive(InsertedDate = iif(isNull(InsertedDate), \r",
						"currentTimestamp(), InsertedDate),",
						"          ModifiedDate = currentTimestamp()) ~> SetDates",
						"SetDates alterRow(upsertIf(true())) ~> AllowUpsert",
						"AllowUpsert sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          CustomerID as integer,",
						"          Title as string,",
						"          FirstName as string,",
						"          MiddleName as string,",
						"          LastName as string,",
						"          Suffix as string,",
						"          CompanyName as string,",
						"          SalesPerson as string,",
						"          EmailAddress as string,",
						"          Phone as string,",
						"          InsertedDate as timestamp,",
						"          ModifiedDate as timestamp,",
						"          HashKey as string",
						"     ),",
						"     deletable:false,",
						"     insertable:false,",
						"     updateable:false,",
						"     upsertable:true,",
						"     keys:['CustomerID'],",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          CustomerID = SourceDB@CustomerID,",
						"          Title = SourceDB@Title,",
						"          FirstName = SourceDB@FirstName,",
						"          MiddleName = SourceDB@MiddleName,",
						"          LastName = SourceDB@LastName,",
						"          Suffix = SourceDB@Suffix,",
						"          CompanyName = SourceDB@CompanyName,",
						"          SalesPerson = SourceDB@SalesPerson,",
						"          EmailAddress = SourceDB@EmailAddress,",
						"          Phone = SourceDB@Phone,",
						"          InsertedDate,",
						"          ModifiedDate,",
						"          HashKey = CreateCustomHash@HashKey",
						"     )) ~> SinkDimCustomer"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DF_TRAN_UpdateProductDimension')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "Evaluacion Final"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "DS_ASQL_Tailspin_Product",
								"type": "DatasetReference"
							},
							"name": "SourceDBProduct"
						},
						{
							"dataset": {
								"referenceName": "DS_ASQL_Tailspin_ProductSubcategory",
								"type": "DatasetReference"
							},
							"name": "SourceDBProductSubcategory"
						},
						{
							"dataset": {
								"referenceName": "DS_ASQL_Tailspin_ProductCategory",
								"type": "DatasetReference"
							},
							"name": "SourceDBProductCategory"
						},
						{
							"dataset": {
								"referenceName": "DS_ASQL_Datawarehouse_dimProduct06",
								"type": "DatasetReference"
							},
							"name": "DimProduct06"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "DS_ASQL_Datawarehouse_dimProduct06",
								"type": "DatasetReference"
							},
							"name": "SinkDimProduct06"
						}
					],
					"transformations": [
						{
							"name": "CreateCustomHash"
						},
						{
							"name": "LookupProductSubcategoryKey"
						},
						{
							"name": "LookUpProductCategoryKey"
						},
						{
							"name": "ExistHash"
						},
						{
							"name": "LookUpProductKey"
						},
						{
							"name": "SetDates"
						},
						{
							"name": "AllowUpsert"
						}
					],
					"scriptLines": [
						"source(output(",
						"          ProductKey as integer,",
						"          ProductSubcategoryKey as integer,",
						"          ProductName as string,",
						"          StandardCost as decimal(19,4),",
						"          Color as string,",
						"          SafetyStockLevel as integer,",
						"          ReorderPoint as integer,",
						"          ListPrice as decimal(19,4),",
						"          Size as string,",
						"          Weight as double,",
						"          DaysToManufacture as integer,",
						"          ModelName as string,",
						"          Description as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> SourceDBProduct",
						"source(output(",
						"          ProductSubCategoryKey as integer,",
						"          ProductSubcategoryName as string,",
						"          ProductCategoryKey as integer",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> SourceDBProductSubcategory",
						"source(output(",
						"          ProductCategoryKey as integer,",
						"          ProductCategoryName as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> SourceDBProductCategory",
						"source(output(",
						"          ProductKey as integer,",
						"          ProductSubcategoryName as string,",
						"          ProductCategoryName as string,",
						"          ProductName as string,",
						"          StandardCost as decimal(19,4),",
						"          Color as string,",
						"          ListPrice as decimal(19,4),",
						"          Size as string,",
						"          Weight as double,",
						"          DaysToManufacture as integer,",
						"          ModelName as string,",
						"          Description as string,",
						"          InsertedDate as timestamp,",
						"          ModifiedDate as timestamp,",
						"          HashKey as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> DimProduct06",
						"LookupProductSubcategoryKey derive(HashKey = sha2(256, ProductName \r",
						"+ iifNull(ProductSubcategoryName, '')\r",
						"+ iifNull(ProductCategoryName, '')\r",
						"+ iif(isNull(StandardCost), '', toString(StandardCost)) \r",
						"+ Color\r",
						"+ iif(isNull(ListPrice), '', toString(ListPrice))\r",
						"+ iifNull(Size, '')\r",
						"+ iif(isNull(Weight), '', toString(Weight))\r",
						"+ iif(isNull(DaysToManufacture), '', toString(DaysToManufacture))\r",
						"+ iifNull(ModelName, '')\r",
						"+ iifNull(Description, ''))) ~> CreateCustomHash",
						"SourceDBProduct, LookUpProductCategoryKey lookup(SourceDBProduct@ProductSubcategoryKey == SourceDBProductSubcategory@ProductSubCategoryKey,",
						"     multiple: false,",
						"     pickup: 'any',",
						"     broadcast: 'auto')~> LookupProductSubcategoryKey",
						"SourceDBProductSubcategory, SourceDBProductCategory lookup(SourceDBProductSubcategory@ProductCategoryKey == SourceDBProductCategory@ProductCategoryKey,",
						"     multiple: false,",
						"     pickup: 'any',",
						"     broadcast: 'auto')~> LookUpProductCategoryKey",
						"CreateCustomHash, DimProduct06 exists(CreateCustomHash@HashKey == DimProduct06@HashKey,",
						"     negate:true,",
						"     broadcast: 'auto')~> ExistHash",
						"ExistHash, DimProduct06 lookup(SourceDBProduct@ProductKey == DimProduct06@ProductKey,",
						"     multiple: false,",
						"     pickup: 'any',",
						"     broadcast: 'auto')~> LookUpProductKey",
						"LookUpProductKey derive(InsertedDate = iif(isNull(InsertedDate), currentTimestamp(), InsertedDate),",
						"          ModifiedDate = currentTimestamp()) ~> SetDates",
						"SetDates alterRow(upsertIf(true())) ~> AllowUpsert",
						"AllowUpsert sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          ProductKey as integer,",
						"          ProductSubcategoryName as string,",
						"          ProductCategoryName as string,",
						"          ProductName as string,",
						"          StandardCost as decimal(19,4),",
						"          Color as string,",
						"          ListPrice as decimal(19,4),",
						"          Size as string,",
						"          Weight as double,",
						"          DaysToManufacture as integer,",
						"          ModelName as string,",
						"          Description as string,",
						"          InsertedDate as timestamp,",
						"          ModifiedDate as timestamp,",
						"          HashKey as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:true,",
						"     keys:['ProductKey'],",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          ProductKey = SourceDBProduct@ProductKey,",
						"          ProductSubcategoryName = SourceDBProductCategory@ProductCategoryName,",
						"          ProductCategoryName = SourceDBProductSubcategory@ProductSubcategoryName,",
						"          ProductName = SourceDBProduct@ProductName,",
						"          StandardCost = SourceDBProduct@StandardCost,",
						"          Color = SourceDBProduct@Color,",
						"          ListPrice = SourceDBProduct@ListPrice,",
						"          Size = SourceDBProduct@Size,",
						"          Weight = SourceDBProduct@Weight,",
						"          DaysToManufacture = SourceDBProduct@DaysToManufacture,",
						"          ModelName = SourceDBProduct@ModelName,",
						"          Description = SourceDBProduct@Description,",
						"          InsertedDate,",
						"          ModifiedDate,",
						"          HashKey = CreateCustomHash@HashKey",
						"     )) ~> SinkDimProduct06"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PQ_TRAN_Departamento_Zona')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "WranglingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"name": "DS_ADLS_Departamento",
							"script": "source(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false) ~> DS_ADLS_Departamento",
							"dataset": {
								"referenceName": "DS_ADLS_Departamento",
								"type": "DatasetReference"
							}
						},
						{
							"name": "DS_ADLS_Zona",
							"script": "source(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false) ~> DS_ADLS_Zona",
							"dataset": {
								"referenceName": "DS_ADLS_Zona",
								"type": "DatasetReference"
							}
						}
					],
					"script": "section Section1;\r\nshared DS_ADLS_Departamento = let AdfDoc = AzureStorage.DataLakeContents(\"https://dblacademyadls.dfs.core.windows.net/archivosfuente/Maestros.xlsx\"), Excel = Excel.Workbook(AdfDoc),ExcelSheet = Excel{[Item=\"Departamento\",Kind=\"Sheet\"]}[Data], PromotedHeaders = Table.PromoteHeaders(ExcelSheet, [PromoteAllScalars = true]) in PromotedHeaders;\r\nshared DS_ADLS_Zona = let AdfDoc = AzureStorage.DataLakeContents(\"https://dblacademyadls.dfs.core.windows.net/archivosfuente/Maestros.xlsx\"), Excel = Excel.Workbook(AdfDoc),ExcelSheet = Excel{[Item=\"Zona\",Kind=\"Sheet\"]}[Data], PromotedHeaders = Table.PromoteHeaders(ExcelSheet, [PromoteAllScalars = true]) in PromotedHeaders;\r\nshared UserQuery = let Source = #\"DS_ADLS_Departamento\",\r\n  #\"Tipo de columna cambiado\" = Table.TransformColumnTypes(Source, {{\"DepartamentoID\", Int64.Type}}),\r\n  #\"Columnas quitadas\" = Table.RemoveColumns(#\"Tipo de columna cambiado\", {\"CodigoDepartamento\", \"DepartamentoPais\"}),\r\n  #\"Consultas combinadas\" = Table.NestedJoin(#\"Columnas quitadas\", {\"ZonaID\"}, DS_ADLS_Zona, {\"ZonaID\"}, \"DS_ADLS_Zona\", JoinKind.LeftOuter),\r\n  #\"DS_ADLS_Zona expandido\" = Table.ExpandTableColumn(#\"Consultas combinadas\", \"DS_ADLS_Zona\", {\"Zona\"}, {\"Zona\"}) in #\"DS_ADLS_Zona expandido\";\r\n",
					"documentLocale": "en-us"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_ORQ_Ingesta_AW')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "PL_LOAD_Venta_Trn",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "PL_LOAD_Venta_Mst",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_AW_ASQL_to_ADLS",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Grupo": "Venta-Trn"
							}
						}
					},
					{
						"name": "PL_LOAD_Venta_Mst",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_AW_ASQL_to_ADLS",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Grupo": "Venta-Mst"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Modulo 05"
				},
				"annotations": [],
				"lastPublishTime": "2024-09-28T15:44:28Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PL_AW_ASQL_to_ADLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_TRAN_Customer')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "DF_TRAN_UpdateCustomerDimension",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_TRAN_UpdateCustomerDimension",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"SourceDB": {},
									"DimCustomer": {},
									"SinkDimCustomer": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Modulo 04"
				},
				"annotations": [],
				"lastPublishTime": "2024-09-26T00:16:31Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/DF_TRAN_UpdateCustomerDimension')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_TRAN_mstDepartamento')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "PQ_TRAN_Departamento_Zona",
						"type": "ExecuteWranglingDataflow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "PQ_TRAN_Departamento_Zona",
								"type": "DataFlowReference",
								"datasetParameters": {
									"DS_ADLS_Departamento": {},
									"DS_ADLS_Zona": {},
									"UserQueryDSADLSmstDepartamento": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"queries": [
								{
									"queryName": "UserQuery",
									"dataflowSinks": [
										{
											"name": "UserQueryDSADLSmstDepartamento",
											"dataset": {
												"referenceName": "DS_ADLS_mstDepartamento",
												"type": "DatasetReference",
												"parameters": {}
											},
											"script": "sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tformat: 'parquet',\n\tumask: 0022,\n\tpreCommands: [],\n\tpostCommands: [],\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> UserQueryDSADLSmstDepartamento"
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2024-09-24T00:20:42Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/PQ_TRAN_Departamento_Zona')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/trDiario0200')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "PL_DATA_CopiaArchivos",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2024-09-30T00:00:00",
						"timeZone": "SA Pacific Standard Time",
						"schedule": {
							"minutes": [
								5
							],
							"hours": [
								20
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PL_DATA_CopiaArchivos')]"
			]
		}
	]
}