adf-teamsoft-JCD/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Nombre de instancia de Data Factory",
			"defaultValue": "adf-teamsoft-JCD"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/PQ_TRAN_Departamento_Zona')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "WranglingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"name": "DS_ADLS_Departamento",
							"script": "source(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false) ~> DS_ADLS_Departamento",
							"dataset": {
								"referenceName": "DS_ADLS_Departamento",
								"type": "DatasetReference"
							}
						},
						{
							"name": "DS_ADLS_Zona",
							"script": "source(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false) ~> DS_ADLS_Zona",
							"dataset": {
								"referenceName": "DS_ADLS_Zona",
								"type": "DatasetReference"
							}
						}
					],
					"script": "section Section1;\r\nshared DS_ADLS_Departamento = let AdfDoc = AzureStorage.DataLakeContents(\"https://dblacademyadls.dfs.core.windows.net/archivosfuente/Maestros.xlsx\"), Excel = Excel.Workbook(AdfDoc),ExcelSheet = Excel{[Item=\"Departamento\",Kind=\"Sheet\"]}[Data], PromotedHeaders = Table.PromoteHeaders(ExcelSheet, [PromoteAllScalars = true]) in PromotedHeaders;\r\nshared DS_ADLS_Zona = let AdfDoc = AzureStorage.DataLakeContents(\"https://dblacademyadls.dfs.core.windows.net/archivosfuente/Maestros.xlsx\"), Excel = Excel.Workbook(AdfDoc),ExcelSheet = Excel{[Item=\"Zona\",Kind=\"Sheet\"]}[Data], PromotedHeaders = Table.PromoteHeaders(ExcelSheet, [PromoteAllScalars = true]) in PromotedHeaders;\r\nshared UserQuery = let Source = #\"DS_ADLS_Departamento\",\r\n  #\"Tipo de columna cambiado\" = Table.TransformColumnTypes(Source, {{\"DepartamentoID\", Int64.Type}}),\r\n  #\"Columnas quitadas\" = Table.RemoveColumns(#\"Tipo de columna cambiado\", {\"CodigoDepartamento\", \"DepartamentoPais\"}),\r\n  #\"Consultas combinadas\" = Table.NestedJoin(#\"Columnas quitadas\", {\"ZonaID\"}, DS_ADLS_Zona, {\"ZonaID\"}, \"DS_ADLS_Zona\", JoinKind.LeftOuter),\r\n  #\"DS_ADLS_Zona expandido\" = Table.ExpandTableColumn(#\"Consultas combinadas\", \"DS_ADLS_Zona\", {\"Zona\"}, {\"Zona\"}) in #\"DS_ADLS_Zona expandido\";\r\n",
					"documentLocale": "en-us"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_ORQ_Ingesta_AW')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "PL_LOAD_Venta_Trn",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "PL_LOAD_Venta_Mst",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_AW_ASQL_to_ADLS",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Grupo": "Venta-Trn"
							}
						}
					},
					{
						"name": "PL_LOAD_Venta_Mst",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_AW_ASQL_to_ADLS",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Grupo": "Venta-Mst"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Modulo 05"
				},
				"annotations": [],
				"lastPublishTime": "2024-09-28T15:44:28Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_TRAN_Customer')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "DF_TRAN_UpdateCustomerDimension",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_TRAN_UpdateCustomerDimension",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"SourceDB": {},
									"DimCustomer": {},
									"SinkDimCustomer": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Modulo 04"
				},
				"annotations": [],
				"lastPublishTime": "2024-09-26T00:16:31Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_TRAN_mstDepartamento')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "PQ_TRAN_Departamento_Zona",
						"type": "ExecuteWranglingDataflow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "PQ_TRAN_Departamento_Zona",
								"type": "DataFlowReference",
								"datasetParameters": {
									"DS_ADLS_Departamento": {},
									"DS_ADLS_Zona": {},
									"UserQueryDSADLSmstDepartamento": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"queries": [
								{
									"queryName": "UserQuery",
									"dataflowSinks": [
										{
											"name": "UserQueryDSADLSmstDepartamento",
											"dataset": {
												"referenceName": "DS_ADLS_mstDepartamento",
												"type": "DatasetReference",
												"parameters": {}
											},
											"script": "sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tformat: 'parquet',\n\tumask: 0022,\n\tpreCommands: [],\n\tpostCommands: [],\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> UserQueryDSADLSmstDepartamento"
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2024-09-24T00:20:42Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/PQ_TRAN_Departamento_Zona')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/trDiario0200')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "PL_DATA_CopiaArchivos",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2024-09-30T00:00:00",
						"timeZone": "SA Pacific Standard Time",
						"schedule": {
							"minutes": [
								59
							],
							"hours": [
								17
							]
						}
					}
				}
			},
			"dependsOn": []
		}
	]
}